* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.botao{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
header{
    background-color: rgb(246, 207, 147);
    /* justify-content: space-between; */
    color:rgb(60, 28, 5);
    height: 200px;
    margin: 0;

}
.bunnerimg{
    height: 120px;
    border-radius: 50%;
    margin: 20px;

}
.nomeimg{
    height: 180px;
    margin: 10px;

}

.subtitulo{
    display:flex;
    font-size:small;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(232, 117, 76);

}
main{
    display: flex;
}
section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(255, 252, 217);
    /* gap: 20px; */
    align-items: flex-start;
    margin: 0%;
    /* padding: 20px; */
    
}

p{
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
}
dl{
    margin-left: 40px;
    gap: 20px;
}
dd{
    gap:20px;
    margin: 20px;

}

.apre{
    margin-left: 5%;
}
.comida{
    text-align: end;
    align-items: end;
    width: 100px;
    padding: 2%;
    border-radius: 40%;
    margin: 4px;
}
.item{
    background-color: rgb(251, 226, 164);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 10%;
    display: flex;
}
.vaigap {
    gap:30px;
}
.imgpresso{
    text-align: end;
}
.contato{
    background-color: rgb(152, 107, 73);
    width: 50%;
    text-align:center;
    
}
.reserva{
    background-color: rgb(126, 71, 44);
    width:50%;
    text-align:center;
}
.cardapio{
    background-color: rgb(202, 85, 46);
    width:50%;
    text-align:center;
}
.cardap{
    width: 70px;
}

.botaocontato{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.botaoreserva{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.botaocardapio{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}